mat-sidenav-container {
  height: 100%;

  mat-sidenav {
    background-color: #000000;
    mat-nav-list {
      .wrapperMenuUser {
        padding: 0 0 20px 0;
        border-bottom: 1px solid #e0e0e0;
        margin: 4px;
        padding: 16px;

        .wrapperMenuUser__card {
          display: flex;
          flex-direction: column;
          text-align: center;

          i {
            font-size: 2.5rem;
            color: #aaaaaa;
            margin: 4px;
          }
        }

        .menu-item-meus-dados {
          margin-top: 8px;
          color: #ffffff;
          font-size: 1rem;
          cursor: pointer;
          text-decoration: underline;
        }

        &:hover {
          background-color: #343434;
          transition: ease-in-out 0.3s;
        }

        &:active {
          color: #767676;
        }

        .menu-item {
          margin-left: 8px;
          color: #ffffff;
        }
      }

      .wrapperMenuRoutes {
        display: flex;
        flex-direction: column;

        mat-list-item {
          display: flex;
          flex-direction: co;
          align-items: center;
          justify-content: center;
        }

        mat-list-item:hover,
        mat-list-item:target {
          background-color: #343434;
          transition: ease-in-out 0.5s;
        }

        .menu-item-link {
          margin-left: 12px;
          color: #ffffff;
        }

        .menu-icon {
          width: 30px;
          padding: 4px;
          color: #aaaaaa;
        }
      }

      .chevron-button {
        color: #ffffff;
        transition: 0.3s ease-in-out;
        transform: rotate(0deg);
      }

      .chevron-button.rotated {
        transform: rotate(180deg);
      }
    }
  }

  mat-sidenav-content {
    .wrapperHeader {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;

      background-color: #f5f5f5;
      box-shadow: 0px -2px 6px 0px #000000;
      min-height: 3.4rem;

      .wrapperHeader__logout {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;

        .wrapperHeader__logout__menu__icon {
          cursor: pointer;
        }

        &:hover {
          font-weight: 600;
        }

        .wrapperHeader__logout__menu__button {
          cursor: pointer;
          text-decoration: none;
          border: none;
          background-color: transparent;
        }

        &:hover {
          font-weight: 700;
        }
      }
    }
  }
}
