@import "../../../../styles.scss";

.button-group {
  .label {
    margin-right: 0.5rem;
  }

  .button {
    border: 1px solid #aeb6c6;
    padding: 0.5rem 0.75rem;
    margin: 0;
    color: $color-font-off;
    background-color: #fafafa;
    font-weight: 500;
    width: 4vw;

    &.button-on {
      border-radius: 5px 0 0 5px;
      color: $color-font-off;
    }

    &.button-off {
      border-radius: 0 5px 5px 0;
      color: $color-font-off;

    }

    &.button-pressed {
      background-color: $buttons-background-on;
      border-color: $buttons-border-on;
      box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.2);
      color: $color-font-on;
    }
  }
}
