<div class="container">
  <div class="cardImage">
    <img src="assets/images/login.png" alt="" />
  </div>
  <div class="cardContent">
    <div class="cardHeader">
      <img src="assets/images/Proficiency test-new6523.svg" alt="">
      <div class="topDescription" *ngIf="!hideForm">
        <span class="titleBemVindo">Olá !</span>
        <span class="textTop my-2"> Digite seu e-mail para receber uma nova senha </span>
      </div>
    </div>

    <div class="cardBody">
      <div class="row">
        <div class="col d-flex justify-content-center mt-4">
          <app-spinner-loader *ngIf="isLoading" #loginLoader></app-spinner-loader>
        </div>
      </div>
      <form *ngIf="!hideForm">
        <div class="input-group form-group inputUser">
          <i class="bi bi-person-fill icon"></i>
          <input
            type="text"
            class="formInput"
            placeholder="E-mail"
            #email
          />
        </div>

        <div class="form-group login">
          <button
            (click)="resetarSenha(email.value)"
            type="submit"
            class="btn float-right login_btn"
          >
            Acessar
          </button>
        </div>
      </form>
    </div>


  </div>
</div>
